@font-face {
  font-family: genshindrip;
  src: url("../../content/fonts/genshindrip/genshindrip.ttf");
  font-display: swap;
}
html {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  height: 100%;
}

body {
  background-color: #e9e5dc;
  font-family: Sanchez, sans-serif;
  color: #3a466d;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  height: 100%;
}

.arrowed-button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  cursor: pointer;
  padding-right: 20px;
}
.arrowed-button__arrow {
  background-color: #3a466d;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: -5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 100px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.arrowed-button__arrow::before, .arrowed-button__arrow::after {
  content: "";
  display: block;
  width: 10px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: -5px;
  -webkit-transform: translateY(-150%) translateX(-40%) rotateZ(45deg);
          transform: translateY(-150%) translateX(-40%) rotateZ(45deg);
  background-color: #3a466d;
  border-radius: 100px;
}
.arrowed-button__arrow::after {
  -webkit-transform: translateY(30%) translateX(-40%) rotateZ(-45deg);
          transform: translateY(30%) translateX(-40%) rotateZ(-45deg);
}
.arrowed-button:hover .arrowed-button__arrow {
  -webkit-transform: translateY(-50%) translateX(50%);
          transform: translateY(-50%) translateX(50%);
}

.container {
  padding: 0px 20px;
  max-width: 1330px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header.hidden {
  display: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  overflow-x: hidden;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 30px;
}
@media (max-width: 500px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 500px) {
  .footer__copyright {
    text-align: center;
  }
}
.footer__contact {
  text-align: right;
}
@media (max-width: 500px) {
  .footer__contact {
    text-align: center;
  }
}
.footer.hidden {
  display: none;
}

.game {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #d3c5a5;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}
.game__canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.game__canvas-lines {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.points {
  padding: 10px 20px;
  font-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.overlays {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.overlays__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}
.overlays__overlay_hidden {
  opacity: 0;
  pointer-events: none;
}

.poison-info {
  pointer-events: none;
  position: absolute;
  left: 20px;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.poison-info__characteristics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.diagram {
  width: 350px;
  height: 350px;
  position: relative;
}
.diagram__canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.window:not(.window_active) {
  display: none;
}
.window_fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
}

.tetris {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 60px;
  -ms-touch-action: pan-x pan-y;
      touch-action: pan-x pan-y;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  padding-bottom: 30px;
}

.about {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__header {
  font-size: 40px;
  text-align: center;
  font-family: genshindrip, serif;
  position: relative;
}
.about__header:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 420px) {
  .about__header {
    font-size: 30px;
  }
}
@media (max-width: 330px) {
  .about__header {
    font-size: 27px;
  }
}
.about__description {
  text-align: center;
  font-size: 20px;
}
@media (max-width: 420px) {
  .about__description {
    font-size: 15px;
  }
}
.about:not(:last-child) {
  margin-bottom: 50px;
}

.play:not(:last-child) {
  margin-bottom: 20px;
}
.play__caption {
  text-align: center;
  margin: 0 auto;
}
.play__caption:not(:last-child) {
  margin-bottom: 30px;
  font-size: 30px;
}
.play__modes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.play__mode {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  max-width: 360px;
  min-width: 220px;
}

.card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 30px;
  border-radius: 25px;
  background-color: #d1b063;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.card__name {
  font-size: 20px;
}
.card__content {
  width: 70%;
  aspect-ratio: 2/3;
  position: relative;
  overflow: hidden;
}
.card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__description {
  text-align: center;
}

.game-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controls {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.controls__control {
  position: absolute;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
@media (max-width: 420px) {
  .controls__control {
    width: 60px;
    height: 60px;
  }
}
.controls__right {
  bottom: 40px;
  right: 40px;
}
.controls__left {
  bottom: 40px;
  left: 40px;
}
.controls__left .controls__img {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.controls__rotate {
  bottom: 60px;
  right: 40px;
  -webkit-transform: translateY(-100%) scaleX(-100%) scaleY(-100%);
          transform: translateY(-100%) scaleX(-100%) scaleY(-100%);
}
.controls__variant {
  bottom: 60px;
  left: 40px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.controls__down {
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.controls__down .controls__img {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
.controls__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-align: center;
}
@media (pointer: coarse) {
  .controls {
    display: block;
  }
}

.lose-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}
.lose-overlay__content {
  background-color: #d6c08b;
  padding: 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 40px;
  position: relative;
}
.lose-overlay__text-small {
  font-size: 20px;
}
.lose-overlay__button {
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: #c5a14c;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 6px 2px #c5a14c;
          box-shadow: 0 0 6px 2px #c5a14c;
}
.lose-overlay__button:hover {
  color: white;
  background-color: #816012;
  -webkit-box-shadow: 0 0 6px 2px #816012;
          box-shadow: 0 0 6px 2px #816012;
}
.lose-overlay__new-best {
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transform: translateX(50%) rotateZ(-20deg);
          transform: translateX(50%) rotateZ(-20deg);
  color: #a57608;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.lose-overlay__new-best.hidden {
  opacity: 0;
  -webkit-transform: translateX(50%) rotateZ(-20deg) scaleX(3) scaleY(3);
          transform: translateX(50%) rotateZ(-20deg) scaleX(3) scaleY(3);
  -webkit-transition: 0s -webkit-transform;
  transition: 0s -webkit-transform;
  transition: 0s transform;
  transition: 0s transform, 0s -webkit-transform;
}

.shop {
  overflow: hidden;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.shop__container {
  max-width: unset;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  position: relative;
  padding: 20px;
}
.shop__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 30px;
}
.shop__poisons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shop__showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.shop__text-header {
  font-size: 25px;
}
.shop__poisons-inventory {
  position: absolute;
  left: 50%;
  top: 50%;
  min-height: 80%;
  min-width: 80%;
}
.inventory {
  background-color: #e2d2ad;
  padding: 30px;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-200%) translateX(-50%);
          transform: translateY(-200%) translateX(-50%);
}
.inventory__close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(216, 71, 52);
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(35%) translateY(-35%);
          transform: translateX(35%) translateY(-35%);
}
.inventory__close::before, .inventory__close::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: white;
  left: 50%;
  top: 50%;
  border-radius: 10px;
}
.inventory__close::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
          transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}
.inventory__close::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
          transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
}
.inventory_open {
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.poison {
  font-family: "Shadows Into Light";
  text-align: center;
  width: 160px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-color: #d6c08b;
  border-radius: 20px;
  position: relative;
  color: #ece7d8;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.poison__types-list, .poison__characteristics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  border-bottom: 2px #c5bda6 dotted;
  padding-bottom: 5px;
}
.poison__types-list:not(:last-child), .poison__characteristics-list:not(:last-child) {
  margin-bottom: 5px;
}
.poison__type, .poison__characteristic {
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}
.poison__type:hover, .poison__characteristic:hover {
  color: #ccbc8b;
}
.poison__filler {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.poison__lvl, .poison__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}
.poison__cost {
  font-size: 25px;
}
.poison__type-imgs {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  top: -13px;
  right: 0;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}
.poison__type-img {
  width: 30px;
  height: 30px;
}
.poison_2 {
  background: linear-gradient(-45deg, #6ba188, #7db985, #70ada0, #81c4b0, #65a179, #62ac89);
  background-size: 200% 200%;
}
.poison_3 {
  background: linear-gradient(-45deg, #6da1c1, #5a8ca8, #6189aa, #6da1c1, #66a7b3, #5e7fac);
  background-size: 200% 200%;
}
.poison_4 {
  background: linear-gradient(-45deg, #8a71b7, #7661ad, #6d5796, #805ea3, #7761a1, #9c81cf);
  background-size: 200% 200%;
}
.poison_5 {
  background: linear-gradient(-45deg, #d9904e, #f1803f, #f89239, #f1b920, #d8af40, #bb773b);
  background-size: 200% 200%;
}
.poison__id, .poison__i {
  display: none;
}
.poison__controls {
  font-family: cursive;
  position: absolute;
  bottom: 0;
  right: -6px;
  color: black;
  -webkit-transition: 0.3s 0.5s opacity;
  transition: 0.3s 0.5s opacity;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  opacity: 0;
}
.poison__control {
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.1s -webkit-transform;
  transition: 0.1s -webkit-transform;
  transition: 0.1s transform;
  transition: 0.1s transform, 0.1s -webkit-transform;
}
.poison__control:hover {
  -webkit-transform: scaleX(116%) scaleY(116%);
          transform: scaleX(116%) scaleY(116%);
}
.poison__add {
  position: relative;
  left: 50%;
  top: 50%;
}
.poison__add::before, .poison__add::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(-45deg, #12c2e9, #c471ed, #f64f59, #12c2e9, #c471ed, #f64f59);
  background-size: 250% 250%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 30px;
}
.poison__add::before {
  width: 60px;
  height: 5px;
}
.poison__add::after {
  width: 5px;
  height: 60px;
}
.poison:hover {
  background-position: 50% 50%;
}
.poison:hover .poison__controls {
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  opacity: 1;
}
.poison_placeholder {
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: linear-gradient(-45deg, #e9e5dc, #e9e5dc) padding-box, linear-gradient(-45deg, #12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9, #c471ed, #f64f59) border-box;
  background-size: 250% 250%;
  border: 5px solid transparent;
  position: relative;
}
.poison_placeholder:hover .poison__add::before,
.poison_placeholder:hover .poison__add::after {
  -webkit-transform: translateX(-50%) translateY(-50%) scaleX(130%) scaleY(130%);
          transform: translateX(-50%) translateY(-50%) scaleX(130%) scaleY(130%);
  background-position: 50% 50%;
}
.poison_inventory {
  cursor: pointer;
}

.bar {
  border-radius: 1000px;
  height: 20px;
  width: 100%;
  border: 2px gray solid;
  overflow: hidden;
  position: relative;
}
.bar__filler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: green;
  border-radius: 1000px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.bar_animated .bar__filler {
  width: 30%;
  -webkit-animation: bar 0.7s linear 0s infinite;
          animation: bar 0.7s linear 0s infinite;
}

@-webkit-keyframes bar {
  0% {
    left: -30%;
  }
  100% {
    left: 130%;
  }
}

@keyframes bar {
  0% {
    left: -30%;
  }
  100% {
    left: 130%;
  }
}
.loading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20vh 0;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
}
.loading__header {
  font-size: 30px;
  text-align: center;
}
.loading__bar {
  width: 70%;
}

.beta-ver {
  font-family: Sanchez, sans-serif;
  color: white;
  display: inline-block;
  background-color: rgb(190, 0, 0);
  font-size: 12px;
  border-radius: 20px;
  padding: 3px 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transform: translateX(-50%) translateY(40%);
          transform: translateX(-50%) translateY(40%);
  position: absolute;
  left: 50%;
  bottom: 0;
}

.currentShapeData {
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 30px;
  background-color: #d6c08b;
  padding: 20px;
  border-radius: 20px;
  pointer-events: none;
}
.currentShapeData__type {
  width: 40px;
  height: 40px;
}
.currentShapeData.hidden {
  opacity: 0;
}

.beta-blocked {
  -webkit-filter: grayscale(1) !important;
          filter: grayscale(1) !important;
  pointer-events: none !important;
  position: relative;
}
.beta-blocked::after {
  content: "not available\ain alpha";
  white-space: pre-wrap;
  text-align: center;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  background-color: darkred;
  color: white;
  -webkit-transform: translateX(20%) translateY(-12%) rotateZ(20deg);
          transform: translateX(20%) translateY(-12%) rotateZ(20deg);
  padding: 5px 10px;
  border-radius: 20px;
}